<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Know your chart</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/materialize/css/materialize.min.css') }}"
          media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="{{ url_for('static', filename='assets/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{{ url_for('static', filename='assets/css/custom-styles.css') }}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/js/Lightweight-Chart/cssCharts.css') }}">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">insert_chart</i>
                <strong>TRACK</strong></a>

        </div>
    </nav>
    <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
</div>

</nav>

<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="index.html" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>

            <li>
                <a class="active-menu waves-effect waves-dark" href="nanonets.html"><i class="fa fa-fw fa-file"></i>
                    Nanonets</a>
            </li>
            <li>
                <a class="active-menu waves-effect waves-dark" href="nanonets.html"><i class="fa fa-fw fa-file"></i>
                    Tensorflow</a>
            </li>
        </ul>

    </div>
</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Nanonets
            <small> Test your chart</small>
        </h1>

    </div>
    <div id="page-inner">

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-action">
                        Description
                    </div>
                    <div class="card-content">
                        <p>NanoNets is an online application which allow an user to build a model in a "blackbox" system
                            . NanoNets is efficient and can be used with text , videos , pictures and audio , it have a
                            free and premium content. We used it to build a 4 categories image classifier of chart. This
                            model have a 97.6 % success rate. This result can be explainned by the fact that nanonets is
                            a neuronal network on top of a pre trained model. (imagenet ) more information at <a href=" https://github.com/sical/Data-Visualization-with-Deep-Learning
"> our github </a></p>
                        <div class="clearBoth"><br/></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-action">
                        Use an URL
                    </div>
                    <div class="card-content">
                        <form id="canard">
                            <input id="url" type="text" name="url" placeholder="Select your picture url"/>
                            <button class="waves-effect waves-light btn" style="margin-bottom: 17px" id="urlgo">Test this chart</button>
                        </form>
                        <div class="clearBoth"><br/></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-action">
                        Use your own picture
                    </div>
                    <div class="card-content">
                        <form id="canardlocal" style="margin-bottom:76px ">
                            <label for="imgInp" class="waves-effect waves-light btn" tabindex="0">Upload </label>
                            <input style="display: none" type='file' id="imgInp" />
                            <img style="visibility: hidden" id="blah" src="#" alt="your image"/>

                        </form>
                        <div class="clearBoth"><br/></div>

                    </div>
                </div>

                <!-- /. PAGE INNER  -->
            </div>
        </div>
        <div class="row"/>
        <div class="col-md-12">
            <div class="card">
                <div class="card-action">
                    Matching results :
                </div>

                <div class="card-content">
                    <p>Bar chart</p>
                    <div class="progress">
                        <div id="barChart" class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <p>Line chart</p>
                    <div class="progress">

                        <div id="lineChart" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                    <p>Pie chart</p>
                    <div class="progress">

                        <div id="pieChart" class="progress-bar progress-bar-warning" role="progressbar"
                             aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                    <p>Scatter plot</p>
                    <div class="progress">

                        <div id="scatterPlot" class="progress-bar progress-bar-danger" role="progressbar"
                             aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer><p>Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p></footer>

        <!-- /. PAGE INNER  -->
    </div>

    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>

<!-- Bootstrap Js -->
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/materialize/js/materialize.min.js') }}"></script>

<!-- Metis Menu Js -->
<script src="{{ url_for('static', filename='assets/js/jquery.metisMenu.js') }}"></script>

<script type="text/javascript">
    $("#urlgo").click(function () {
        datau = $("#url").val();
        console.log(datau)
        $.ajax({
            type: "POST",
            url: "./nanonetsurl",
            data: $('#canard').serialize(),
            success: function (data) {
                console.log("success");
                console.log(data);
                temp = JSON.parse(data);
                var bob = ["barChart", "lineChart","pieChart","scatterPlot"];
                var bobby = temp.result[0].prediction;
                var aa;
                for (var i = 0; i < bob.length; i++) {
                    console.log(bobby[i].probability)
                    aa = document.getElementById(bob[i]);
                    tempo = (bobby[i].probability * 100);
                    if (tempo < 1) {
                        tempo = 1
                    }
                    console.log(tempo);
                    console.log(bob[i]);
                    aa.style.width = tempo + "%";
                }
            }

        });
        return false;
    })
</script>


<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
            document.getElementById("canardlocal").style.margin ="0px";
            var temp = document.getElementById("blah");
            temp.style.visibility = "visible";
            temp.style.float= "right";
            temp.style.display= "inline";
            temp.style.border= "solid 2px";
            temp.style.height="110px";
            temp.style.width="120px";
            temp.style.marginRight="130px";

        }
        return true;
    }

    $("#imgInp").change(function () {
        readURL(this);
        return false;
    });
</script>

</div>

</body>

</html>
