<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Know your chart</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/materialize/css/materialize.min.css') }}"
          media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="{{ url_for('static', filename='assets/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{{ url_for('static', filename='assets/css/custom-styles.css') }}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/js/Lightweight-Chart/cssCharts.css') }}">
</head>
<body>

<nav id="temp" class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="index.html" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> Get started</a>
            </li>

            <li>
                <a class="active-menu waves-effect waves-dark" href="./nanonets"><i class="fa fa-fw fa-file"></i>
                    Nanonets</a>
            </li>
            <li>
                <a class="active-menu waves-effect waves-dark" href="./tensorflow"><i class="fa fa-fw fa-file"></i>
                    Tensorflow</a>
            </li>
        </ul>

    </div>
</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Tensorflow
            <small> Test your chart</small>
        </h1>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="card">
                <div class="card-action">
                    Description
                </div>
                <div class="card-content">
                    <div id="paint">
                        <canvas id="myCanvas" width="490" height="220"></canvas>

                    </div>
                </div>
            </div>
            <footer><p>Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p></footer>

            <!-- /. PAGE INNER  -->
        </div>

        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/main_core.js') }}"></script>

    <!-- Bootstrap Js -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/materialize/js/materialize.min.js') }}"></script>

    <!-- Metis Menu Js -->
    <script src="{{ url_for('static', filename='assets/js/jquery.metisMenu.js') }}"></script>

    <script>
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        var taille = $('#temp').width();
        var painting = document.getElementById('paint');
        var paint_style = getComputedStyle(painting);
        canvas.width = parseInt(paint_style.getPropertyValue('width'));
        canvas.height = parseInt(paint_style.getPropertyValue('height'));
        canvas.border = 'solid 4px';

        var mouse = {x: 0, y: 0};

        canvas.addEventListener('mousemove', function (e) {
            mouse.x = e.pageX - this.offsetLeft - taille;
            mouse.y = e.pageY - this.offsetTop - 170;
        }, false);

        ctx.lineWidth = 3;
        ctx.lineJoin = 'round';
        ctx.lineCap = 'round';
        ctx.strokeStyle = '#00CC99';

        canvas.addEventListener('mousedown', function (e) {
            ctx.beginPath();
            ctx.moveTo(mouse.x, mouse.y);

            canvas.addEventListener('mousemove', onPaint, false);
        }, false);

        canvas.addEventListener('mouseup', function () {
            canvas.removeEventListener('mousemove', onPaint, false);
        }, false);

        var onPaint = function () {
            ctx.lineTo(mouse.x, mouse.y);
            ctx.stroke();
        };

        function pos(element) {
            var top = 0, left = 0;
            do {
                top += element.offsetTop || 0;
                left += element.offsetLeft || 0;
                element = element.offsetParent;
            } while (element);

            return {
                top: top,
                left: left
            };
        }
        $('#temp').ready(function () {
            var canard = document.getElementById('temp');
            var cumulativeOffset = pos(canard);
            console.log(cumulativeOffset);
            console.log('taille');
            console.log(taille);
        })
    </script>

</div>

</body>

</html>